<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.racoondog.gotaplan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
            android:name="com.racoondog.gotaplan.MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <receiver android:name=".DeviceBootReceiver"
                android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AlarmReceiver" />

        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="@string/ad_mob_app_id"/>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.racoondog.gotaplan.fileprovider"
                android:grantUriPermissions="true"
                android:exported="false">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/temp" />

        </provider>

        <receiver android:name=".LessonNotification"/>

        <activity
                android:name=".LessonCalculateDialog"
                android:label="@string/app_name"
                android:theme="@style/MyDialogTheme"
                android:taskAffinity=""
                android:excludeFromRecents="true"
                >
        </activity>

        <activity android:name="com.racoondog.gotaplan.IntroActivity" />


        <activity android:name="com.racoondog.gotaplan.DirectFeedback"
            android:screenOrientation="fullSensor" />

        <activity android:name="com.racoondog.gotaplan.CreateSchedule"
                android:screenOrientation="fullSensor" />

        <activity android:name="com.racoondog.gotaplan.CreateSubject"

                android:screenOrientation="fullSensor"/>

        <activity android:name="com.racoondog.gotaplan.SubjectDetail"
                android:screenOrientation="fullSensor"/>

        <activity android:name="com.racoondog.gotaplan.MainActivity"

                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>