<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.racoondog.gotaplan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
            android:name=".MyApplication"
            android:fullBackupOnly="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <receiver android:name=".LargeScheduleWidget" android:label="Large"
        android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/large_schedule_widget_info" />
        </receiver>

        <receiver
                android:name=".SmallScheduleWidget"
                android:label="Small"
        android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/small_schedule_widget_info" />
        </receiver>
        <receiver
                android:name=".LargeScheduleWidget"
                android:label="Large"
        android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/large_schedule_widget_info" />
        </receiver>

        <service
                android:name=".SmallScheduleWidgetRemoteViewsService"
                android:enabled="true"
                android:exported="true"
                android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
                android:name=".LargeScheduleWidgetRemoteViewsService"
                android:enabled="true"
                android:exported="true"
                android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
                android:name=".DeviceBootReceiver"
                android:enabled="false"
        android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.permission.WAKE_LOCK" />
            </intent-filter>
        </receiver>

        <receiver android:name=".AlarmReceiver"
                android:process=":remote">

        </receiver>

        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="@string/ad_mob_app_id" />

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.racoondog.gotaplan.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/temp" />
        </provider>
        <activity
                android:name=".IntroActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".DirectFeedback"
                android:screenOrientation="portrait" />
        <activity
                android:name=".CreateSchedule"
                android:screenOrientation="portrait"
                />
        <activity
                android:name=".CreateSubject"
                android:screenOrientation="portrait" />
        <activity
                android:name=".SubjectDetail"
                android:screenOrientation="portrait"
                />
        <activity
                android:name=".MainActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>